.portfolio__list-box
	margin-top: 75px

.portfolio__list
	display: flex
	flex-wrap: wrap
	justify-content: space-between

.portfolio__item
	margin-bottom: 50px
	padding-bottom: 27px
	width: 291px
	background: $white
	&-img
		height: 301px
	& img
		display: block
		min-width: 100%
	&-text
		margin-top: 27px
		text-align: center
	&-title
		color: #333333
		font-size: 18px
		font-weight: 700
		letter-spacing: -0.45px
	&-subtitle
		color: $gray-lighter
		font-family: "Droid Serif"
		font-size: 14px
		font-style: italic