.btn
	display: inline-block
	margin: 0 auto
	padding: 25px 47px
	box-sizing: border-box
	width: 240px
	height: 65px
	background-color: $orange
	border-radius: 8px
	color: $white
	text-decoration: none
	text-transform: uppercase
	font-size: 18px
	font-weight: 700
	line-height: 1
	transition: 0.3s
	&:hover
		background: #fec503
